/* 
width:
height:
background;

padding:
border:
margin:
border-radius:
outline:

#Overflow box :


#Texalignment:   
text-align: center
text-align: right
text-align: left
text-align: justify


 
#Text-decoration:
text-decoration: none
text-decoration: underline
text-decoration: overline
text-decoration: line-through
text-decoration: blink
text-decoration style:........
text-decoration tinkers:......

#Text-transform:
uppercase
lowercase
capitalize
box shadows

#body{ margin 0;
          }

#Radial Gradient background
 linear-gradient


#Background
background-repeat: no-repeat
background-position
background-size

#background-blend mode 
multiply
lighten
darken

#background-attachment




*/






.My_img { width: 200px; 
          height:  200px;
          border-radius: 50px; 
          transition: 2s;
}
.My_img:hover
  {box-shadow: 0px 0px 15px rgb(227, 18, 18);  
    transition:.2s;
    transform: scale(1.1);

}
.title1 {color: rgb(242, 242, 247);
   
    background-color: rgb(21, 6, 6);
    border-radius: 10px;
    margin: auto;
    border: 10px;}
    


.broderbox { border-color: rgb(187, 46, 79); 
            border-style: solid;
            border-width: 10px;
            border-radius: 10px;
            margin: auto;
            padding: 10px;
            background-color: rgb(21, 6, 6);
            color: rgb(242, 242, 247);
            text-shadow: 2px 2px 1px  rgba(0, 0, 0, 0.095);
         

   }
   .Title2 { color: rgb(10, 10, 10); 
             background-color: burlywood;
             padding:5px;
             border-radius: 10px 90px;
             margin: auto;
             border-right: 5px solid aqua ;
             border-top: 8px  solid chartreuse;
             border-left: 5px solid coral;
             border-bottom: 10px solid chocolate;
            font-style: oblique;
            
            }   
            
       
    .Email_pss {  background-color: aliceblue;
                  height: 300px;
                  width: 500px;
                  border: 1px solid rgb(13, 13, 12)  ;
                  text-align: center;
                  border-radius: 10px;

                  
    }        

    .name input{ height: 50%;
                 width: 40;
        
     }
     .password { text-align: center;    
                 padding-top: 3px;

     }
     .button1 {   
               padding-top: 5px; 
                
     }
     .button1:hover{    
        transition:.5s;
        transform: scale(1.1);

                             
     }

     .ccome {
        display: auto;
         font-size:50px;
         width:150px ;
         height: 70px;
         background-color: aqua;
         border-radius: 10px;
         border: 2px solid chocolate;
         justify-content: center;
         align-items: center;
         text-align: center;
         padding-top: 10px;
         box-shadow: 10px 15px 15px;
         transition: .5s linear;
 }
     .ccome:hover{ box-shadow: 10px 15px 15px rgb(227, 18, 18);  
                   transition:.5s;
                   transform: scale(1.1);

    }

     
 
     .ccome2 { justify-content: center;
               height: 100px;
               width:  250px;
               justify-content: center;
               align-items: center;
               border-radius: 45px;
               border: 2px solid rgb(0, 0, 0); 
               background: radial-gradient(rgb(13, 11, 11), rgb(124, 167, 7), rgb(0, 255, 191));
            }
     .ccome2:hover{   box-shadow: 10px 10px 10px chartreuse ;
                      transition:.5s;
                      transform: scale(1.1);
                      border-radius: 20px;  
                }               
       .ccome2:visited{ 
                        box-shadow: 10px 10px 10px rgb(200, 26, 26)}
    
            

    .heroMain {  height: 100%;
                 width: 100%;
                 background-repeat: no-repeat;
                 background-image: url(hero.png); 
                 background-position: center center;
                 background-size: cover;

                
                }
    .heroMain content {}
    .heroMain  .content .herotitle {}
    .heroMain  .content .herotitle .herosubtitle{}
    .heroMain  .content {}