/* 
width:
height:
background;

padding:
border:
margin:
border-radius:
outline:

#Overflow box :


#Texalignment:   
text-align: center
text-align: right
text-align: left
text-align: justify


 
#Text-decoration:
text-decoration: none
text-decoration: underline
text-decoration: overline
text-decoration: line-through
text-decoration: blink
text-decoration style:........
text-decoration tinkers:......

#Text-transform:
uppercase
lowercase
capitalize

box shadows





*/






.My_img { width: 200px; 
          height:  200px;
          border-radius: 50px; 
}
.title1 {color: rgb(242, 242, 247);
   
    background-color: rgb(21, 6, 6);
    border-radius: 10px;
    margin: auto;
    border: 10px;}
    


.broderbox { border-color: rgb(187, 46, 79); 
            border-style: solid;
            border-width: 10px;
            border-radius: 10px;
            margin: auto;
            padding: 10px;
            background-color: rgb(21, 6, 6);
            color: rgb(242, 242, 247);
            
         

   }
   .Title2 { color: rgb(10, 10, 10); 
             background-color: burlywood;
             padding:5px;
             border-radius: 10px 90px;
             margin: auto;
             border-right: 5px solid aqua ;
             border-top: 8px  solid chartreuse;
             border-left: 5px solid coral;
             border-bottom: 10px solid chocolate;
            font-style: oblique;
            
            }   
            
       
    .Email_pss {  background-color: aliceblue;
                  height: 300px;
                  width: 500px;
                  border: 1px solid rgb(13, 13, 12)  ;
                  text-align: center;
                  border-radius: 10px;

                  
    }        

    .name input{ height: 50%;
                 width: 40;
        
     }
     .password { text-align: center;    
                 padding-top: 3px;

     }
     .button1 {   padding-top: 5px; 
                


     }

     .ccome {
         font-size: 50px;
         width:200px ;
     }
           